/* base import */
@import './base/reset.css';
@import './base/layout.css';
@import './base/variables.css';
@import './base/common.css';
@import './base/paragraph.css';

/* 3rd-party import */
@import './3rd-party/font-awesome.min.css';

/* components import */
@import './components/button.css';

/* CUSTOM STYLES FOR HOME PAGE GOES BELOW THIS COMMENT */

/* header start */
.header {
  background-color: #f8f9fa;
  display: inline-block;
}
.header.container {
  display: inline-block;
}

.row .meniu-block {
  background-color: pink;
  float: right;
  padding: 20px 20px 20px;
  justify-content: space-between;
}
.row .header-logo {
  display: inline-block;
  position: absolute;
  padding: 20px 20px 20px;
}
.meniu-block .meniu-links {
  background-color: beige;
}

.meniu-block .meniu-link-home {
  padding: 20px 20px 20px;
  color: #5dd9c1;
  font: Hind, sans-serif;
  text-decoration: none;
}

.meniu-block .meniu-link-btn {
  padding: 20px 20px 20px;
  color: #5c6b56;
  font: Hind, sans-serif;
  text-decoration: none;
}

/*HAMBURGER*/
.meniu-hamburger {
  float: right;
  padding: 20px 10px 20px;
}
@media (max-width: 990px) {
  .meniu-block .meniu-links .a .meniu-btn {
    display: none;
  }
  .meniu-hamburger {
    float: right;
    display: flex-end;
  }
}

.meniu-block .meniu-links .a {
  padding: 0 30px;
}

@media (max-width: 2300px) {
  .meniu-hamburger {
    display: none;
  }
  .meniu-block .meniu-links .a .meniu-btn {
    padding: 0 30px;
  }
}
/* header end */

/* hero start */
.hero {
  background-color: aquamarine;
}
/* hero end */

/* statistics start */
.statistics {
  background-color: darkolivegreen;
}
/* statistics end */

/* counter start */
.counter {
  background-color: darksalmon;
}
/* counter end */

/* what you learn start */
.what-you-learn {
  background-color: deepskyblue;
}
/* what you learn end */

/* course syllabus start */

.syllabus > .syllabus-header .syllabus-heading {
  font-family: var(--heading-font);
  font-size: 36px;
}

.syllabus > .syllabus-card {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 3px 10px #c3c3c3;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 110px 60px 100px 60px;
  grid-template-areas:
    'calendar . . . .'
    'heading heading heading heading heading'
    'paragraph paragraph paragraph paragraph paragraph'
    'stats stats stats stats . ';
}
.syllabus > .syllabus-card > .syllabus-numeration {
  grid-area: calendar;
  align-items: center;
  justify-items: end;
  padding-top: 23px;
}

.syllabus > .syllabus-card > .syllabus-numeration > img {
  height: 33px;
  width: 33px;
  display: block;
  margin: auto;
}

.syllabus > .syllabus-card > .syllabus-numeration > .syllabus-week {
  padding-top: 15px;
  display: block;
  font-family: var(--heading-font);
  font-size: 23px;
  font-weight: 600;
  text-align: center;
}

.syllabus > .syllabus-card > {
  margin-top: 0;
}
.syllabus > .syllabus-card > .course-content-workaround {
  position: relative;
  grid-area: heading;
}

.syllabus > .syllabus-card .course-content-title {
  font-family: var(--heading-font);
  font-size: 23px;

  align-self: center;
}

.syllabus > .syllabus-card .course-content-title::after {
  position: absolute;
  content: '\2304';
  font-weight: 600;
  font-size: 30px;
  right: 0;
  top: -20px;
}

.syllabus > .syllabus-card > .course-content-description {
  font-family: var(--paragraph-font);
  font-size: 15px;
  line-height: 1.7;
  font-weight: 300;
  color: #707070;
  grid-area: paragraph;
}
.syllabus > .syllabus-card > .course-content-stats {
  grid-area: stats;
}

.syllabus > .syllabus-card > .single-content-stat {
  font-size: 13px;
  font-family: var(--heading-font);
  font-weight: 500;
}

.syllabus .syllabus-end-donwload {
  margin-top: 15px;
}

.syllabus .syllabus-download {
  text-decoration: none;
  color: #000;
  font-family: var(--heading-font);
  font-weight: 600;
  border: 1px solid var(--color-secondary);
  padding: 1em 2em;
  border-radius: 5px;
}

/* course syllabus end */

/* course benefit start */
.benefit {
  background-color: blueviolet;
}
/* course benefit end */

/* pricing start */
.pricing {
  background-color: goldenrod;
}
/* pricing end */

/* reviews start */
.reviews {
  background-color: darkred;
}
/* reviews end */

/* enrol form start */
.enrol-form {
  background-color: darkseagreen;
}
/* enrol form end */

/* course instructor start */
.course-instructor {
  background-color: darkslateblue;
}
/* course instructor end */

/* footer start */
.footer {
  background-color: deeppink;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.subscribe-form {
  float: left;
  padding: 10%;
  position: sticky;
}
/* footer end */

/* back-to-top start */
.to-top {
  background-color: cadetblue;
}
/* back-to-top end */
