.behindImgTop{
    display: inline-block;
    z-index: -1;
    position:relative;
    left: -60px;
    top: -580px;
    visibility: visible;
}

.behindImgBottom{
    display: inline-block;
    z-index: -1;
    position:relative;
    left: 340px;
    top: -420px;
    transform: rotate(90deg);
}

@media (max-width:1199px) {
  .behindImgBottom{
          display: inline-block;
              left: 210px;
  }
  }

  @media (max-width:1199px) {
  .behindImgTop{
          display: inline-block;
            left: -30px;
            top: -440px;
  }
  }
  @media (max-width:988px) {
  .behindImgBottom{
          display: none;
  }
  }

@media (max-width:988px) {
  .behindImgTop{
          display: none;
  }
  }