.what-you-learn .content {
    width: 95%;
    height: 380px;
    display: flex;
    justify-content: center;
    overflow: hidden ;
}

.what-you-learn .content::-webkit-scrollbar {
    visibility: hidden;
}

.what-you-learn .content .img-box {
   width: 250px;
   height: 350px;
   position: relative;
   left: 0;
   text-align: center;
   margin-right: 30px;
   transform: 0.5s;
   
}

.what-you-learn .content img {
   width: 100%;
   display: inline-block;
  
}

.what-you-learn .content .img-box h3{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 19px;
    
}

