.reviews-carousel {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    background-color: red;
}
.reviews-carousel > .reviews-controls {
    display: inline-block;
    width: 100%;
}
.reviews-carousel > .reviews-controls > .arrows {}

.reviews-carousel > .arrows > .review-title {}

.reviews-carousel > .reviews-frame {
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

.reviews-carousel > .reviews-frame > .reviews-galery {
    display: inline-block;
    width: 100%;
        
}
.reviews-carousel > .reviews-frame > .reviews-galery > .first {
    width: 100%;
    border: 1px solid #ccc;
    background-color: yellow;
    float: left;
}
.reviews-carousel > .reviews-frame > .reviews-galery > .second {
    width: 100%;
    border: 1px solid #ccc;
    background-color: yellow;
    float: left;
}
.reviews-carousel > .reviews-frame > .reviews-galery > .third {
    width: 100%;
    border: 1px solid #ccc;
    background-color: yellow;
    float: left;
}
.reviews-carousel > .reviews-stat {
    display: inline-block;
    width: 100%;
}
.reviews-carousel > .reviews-stat > .ratings {
    display: inline-block;
    width: 100%;
}
.reviews-carousel > .ratings > .average {
    display: inline-block;
    width: 100%;
}
.reviews-carousel > .ratings > .student {
    display: inline-block;
    width: 100%;
}
.reviews-carousel > .all {
    display: inline-block;
    width: 100%;
}
.reviews-carousel > .all > .all-reviews {
    display: inline-block;
    width: 100%;
}